html {
    box-sizing: border-box;
}

body {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.dock {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 44px;
    border-bottom: 1px solid #79AED4;
    background: #F2F2F2;
}

.dock .title {
    position: absolute;
    top: 0;
    left: 0;
    height: 44px;
    width: 250px;
    border-right: 1px solid #AAC6D8;
    border-bottom: 1px solid #79AED4;
    background: #D2EAFA;
    -webkit-font-smoothing: antialiased;
}

.dock .title h1 {
    font-size: 18px;
    line-height: 44px;
    margin: 0 15px 0;
    color: #79AED4;
    font-weight: 200;
}

.dock .title h1 strong {
    font-weight: 700;
}

.dock .title h1 .version {
    padding-left: 10px;
    font-weight: 700;
    font-size: 14px;
}

.dock .search {
    position: absolute;
    top: 0;
    right: 0;
    left: 250px;
    height: 44px;
    border-bottom: 1px solid #79AED4;
}

.dock .search input {
    border: 0;
    background: transparent;
    height: 44px;
    width: 100%;
    padding: 10px;
    margin: 0 22px;
    font-size: 18px;
    font-weight: 200;
    color: #333;
}

.dock .search input:focus {
    outline: none;
}

.dock .search input:-ms-input-placeholder,
.dock .search input::-moz-placeholder,
.dock .search input::-webkit-input-placeholder {
    color: #ABABAB;
    font-weight: 100;
    opacity: 1;
}

.dock .search .fa-search {
    position: absolute;
    top: 12px;
    left: 8px;
    color: #ABABAB;
    font-weight: 100;
    font-size: 20px;
}

.dock .search a.help {
    position: absolute;
    top: 8px;
    right: 20px;
    color: #ABABAB;
    font-weight: 100;
    font-size: 20px;
}

.dock .search a.help:hover {
    color: #555;
}

.sidebar {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 0;
    width: 250px;
    border-right: 1px solid #AAC6D8;
    background: #D4EAFA;
    font-size: 13px;
    padding-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.sidebar a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #364C5D;
    font-weight: 400;
}

.sidebar a.interface {
    font-style: italic;
}

.sidebar a:hover {
    text-decoration: none;
    background: #BCE3FA;
    color: #0074FF;
}

.sidebar a:not(:hover):not(:first-of-type):before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #e4f2fc;
}

.sidebar a:not(:hover):not(:last-of-type):after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    top: 37px;
    background-color: #cde3f1;
}

.sidebar a:hover:before {
    content: '';
    position: absolute;
    top: -1px;
    height: 1px;
    left: 0;
    right: 0;
    background-color: #9ED4F8;
}

.sidebar a:hover:after {
    content: '';
    position: absolute;
    height: 1px;
    left: 0;
    right: 0;
    top: 37px;
    background-color: #9ED4F8;
}

.sidebar .show-more {
    margin: 15px 10px;
    width: 217px;
    display: block;
}

.content {
    position: absolute;
    top: 44px;
    bottom: 0;
    left: 250px;
    right: 0;
}

iframe {
    border: 0;
    width: 100%;
    height: 100%;
}

.twitter-typeahead {
    width: 100%;
}

.typeahead, .tt-hint {
    width: 574px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 1px solid #024e6a;
    border-radius: 4px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 600px;
    max-height: 600px;
    overflow: auto;
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
}

.tt-suggestion + .tt-suggestion {
    font-size: 14px;
    border-top: 1px solid #ccc;
}

.tt-suggestions .package {
    font-style: italic;
    clear: both;
    margin: 0;
    color: #CCC;
}

.tt-suggestions .name {
    float: left;
    margin: 0;
}

.tt-suggestions .type {
    float: right;
    margin: 0;
    color: #CCC;
}

.twitter-typeahead .tt-suggestion.tt-cursor {
    background-color: #D4EAFA;
}